@import 'bootstrap';
@import './lib/signin/signin.css';
@import './lib/signup/signup.css';

/* Yours styles here */
#content {
  padding-top: 70px;
  min-height: 400px;
  min-width:280px;
  margin-left:auto;
  margin-right:auto;
}
